html{
    height: 100%;
    overflow-y: hidden;
}
body{
    background: rgba(102,20,224,1);
    background: -moz-linear-gradient(top, rgba(102,20,224,1) 0%, rgba(132,8,194,1) 18%, rgba(168,0,119,1) 73%, rgba(82,3,56,1) 96%, rgba(82,3,56,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,20,224,1)), color-stop(18%, rgba(132,8,194,1)), color-stop(73%, rgba(168,0,119,1)), color-stop(96%, rgba(82,3,56,1)), color-stop(100%, rgba(82,3,56,1)));
    background: -webkit-linear-gradient(top, rgba(102,20,224,1) 0%, rgba(132,8,194,1) 18%, rgba(168,0,119,1) 73%, rgba(82,3,56,1) 96%, rgba(82,3,56,1) 100%);
    background: -o-linear-gradient(top, rgba(102,20,224,1) 0%, rgba(132,8,194,1) 18%, rgba(168,0,119,1) 73%, rgba(82,3,56,1) 96%, rgba(82,3,56,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,20,224,1) 0%, rgba(132,8,194,1) 18%, rgba(168,0,119,1) 73%, rgba(82,3,56,1) 96%, rgba(82,3,56,1) 100%);
    background: linear-gradient(to bottom, rgba(102,20,224,1) 0%, rgba(132,8,194,1) 18%, rgba(168,0,119,1) 73%, rgba(82,3,56,1) 96%, rgba(82,3,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6614e0', endColorstr='#520338', GradientType=0 );
    height: 100%;
}

.container {
    position: relative;
}

.menu-btn {
    background: transparent;
    border: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.die {
    position: relative;
    background-image: url("./Images/test1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 600px;
}

#die-number {
    z-index: 2;
    color: whitesmoke;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

#title-message {
    text-shadow: 0px 0px 5px #f964fb;
    color: whitesmoke;
}

.hidden {
    display: none;
}

footer {
    margin-top: 15rem;
    color: #cecece;
}